/* Import custom fonts */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Animated Background */
#animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif; /* Use Roboto for body copy and headlines */
  margin: 0;
  padding: 20px;
  background-color: #222;
  color: #fff;
  text-align: center;
  position: relative;
}

/* Custom scrollbar for the main page */
body {
  scrollbar-width: thin;
  scrollbar-color: #ffd700 #333;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #333;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* h1 is the Title "Module" */
h1 {
  background-color: #ffd700;
  color: #fff;
  cursor: default;
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  border: 2px solid #222;
}

.authors {
  font-family: "Open Sans", sans-serif; /* Use Open Sans for descriptions */
  font-size: 1em;
  padding: 20px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: left;
}

/* Style for expanded module heading */
/* h2 */
.expandedHeading {
  background-color: #ffd700 !important;
  color: #fff;
  padding: 15px;
  border: 2px solid #222;
}

/* h2 is the Individual "Module" */
h2 {
  font-size: 1.2em;
  color: #ffd700;
  background-color: #666;
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

h2:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.description {
  font-family: "Open Sans", sans-serif; /* Use Open Sans for descriptions */
  font-size: 1em;
  padding: 20px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: left;
  border: 1px solid #222;
}

/* Style for expanded group heading */
/* h3 */
.expandedGroup {
  background-color: #ffd700;
  color: #fff;
  padding: 15px;
  border: 2px solid #222;
}

/* h3 is the Group "Module" */
h3 {
  font-size: 1.5em;
  color: #ffd700;
  background-color: #444;
  padding: 13px; /* Adjusted to account for the border */
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 2px solid #ffd700; /* Thin border with the color #ffd700 */
}

h3:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
#collapseButton {
  font-family: "Roboto", monospace;
  text-shadow: 2px 2px 4px #000;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin: 10px 0;
  text-shadow: 1px 1px 2px #000;
}

.moduleContent,
.nonClickableButton {
  background-color: #444;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #222;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  animation: fadeIn 0.5s ease;
}

.moduleContent {
  display: none;
  border: 2px solid #222;
}

#collapseButton {
  font-weight: bold;
  font-size: 1em;
  background-color: #ffd700;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #222;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 9999; /* Set a high z-index value to ensure it's on top */
}

#collapseButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

#signInButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999; /* Set a high z-index value to ensure it's on top */
  font-weight: bold;
  font-size: 1em;
  background-color: #ffd700;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #222;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px #000;
}

#signInButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

/* Custom CSS Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideInUp {
  animation: slideInUp 0.5s ease;
}

.hoverScale {
  transition: transform 0.3s ease;
}

.hoverScale:hover {
  transform: scale(1.01);
}
