body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: white;
  overflow: hidden;
}

/* Main Container Styling */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top Container Styling */
.topContainer {
  flex: 1;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

/* Resizable Container Styling */
.resizableContainer {
  min-width: 150px;
  min-height: 150px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin: 0 10px;
  flex: 1;
  resize: none;
  overflow: hidden;
}

/* Containers Styling */
#narrativeContainer,
#questionFormContainer {
  background-color: #333;
  overflow: hidden;
}

/* Containers Specific Styling */
#terminalOutput,
#terminalContainer,
#questionFormContainer,
#narrativeContainer {
  width: calc(100% - 16px);
  height: 100%;
  background-color: #333;
  color: white;
  border: 2px solid #ffd700;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  resize: none;
  overflow: auto;
  margin: 0 10px; /* Adjust the margin for containers */
}

/* Flexbox Layout for Radio Buttons and Checkboxes */
.question div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* Adjustments to the container to prevent horizontal scrolling */
#questionFormContainer {
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Terminal Output Styling */
#terminalOutput {
  border: 2px solid #ddd;
  /* Remove the width: 100% and use max-width */
  max-width: 100%; /* Limit the width to the container's width */
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
  font-size: smaller;
  font-family: monospace;
  overflow-y: auto;
}

/* Terminal Output Wrapper Styling */
.terminalOutputWrapper {
  max-height: calc(100% - 16px);
  overflow: hidden;
}

/* Terminal Container Styling */
#terminalContainer {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background-color: #333;
  color: white;
  border: 2px solid #ffd700;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  resize: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Container Content Styling */
.containerContent {
  margin-bottom: 20px;
}

/* Result Message Styling */
#resultMessage {
  display: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  transition: background-image 0.5s ease;
  animation: none;
}

/* Correct Result Message Styling */
#resultMessage.correct {
  background: green;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 2px 2px 4px #000;
}

/* Incorrect Result Message Styling */
#resultMessage.incorrect {
  background: #ff5733;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 2px 2px 4px #000;
}

.returnButton {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background-color: #ffd700; /* Example: Gold color */
  
  padding: 8px;
  margin-top: 10px; /* Space above the button */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* Remove link styling */
a {
  color: black;
}
a:hover {
  color: #ffd700;
  text-decoration: none;
}
.sendCommandButton,
.submitQuestionsButton {
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  background-color: #ffd700;
  color: black;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.sendCommandButton:hover,
.submitQuestionsButton:hover,
.returnButton:hover {
  background-color: #555;
  color: #ffd700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

/* Scrollbar Styling for Question Submission Container */
.resizableContainer::-webkit-scrollbar {
  width: 12px;
}

.resizableContainer::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
}

.resizableContainer::-webkit-scrollbar-track {
  background-color: #333;
}

.resizableContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Scrollbar Styling for Terminal Container */
#terminalContainer::-webkit-scrollbar {
  width: 12px;
}

#terminalContainer::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
}

#terminalContainer::-webkit-scrollbar-track {
  background-color: #333;
}

#terminalContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Scrollbar Styling for Terminal Output */
#terminalOutput::-webkit-scrollbar {
  width: 12px;
}

#terminalOutput::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
}

#terminalOutput::-webkit-scrollbar-track {
  background-color: #333;
}

#terminalOutput::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
